<p>To download the server files for a pack go to <a href="http://feed-the-beast.com">Feed the beast</a> website and click on <code>Packs</code> in the navigation bar</p>
<div><img src="img/dlServer/firefox_2016-08-05_23-10-31.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<p>Find the pack you want the server files for in the modpack list and click on the name of the pack</p>
<div><img src="img/dlServer/firefox_2016-08-05_23-11-13.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<p>Click on <code>Files</code> located below the modpack title</p>
<div><img src="img/dlServer/firefox_2016-08-05_23-11-26.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<p>Click on the button named <code>+1 More</code></p>
<div><img src="img/dlServer/firefox_2016-08-05_23-11-57.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<p>Click on the button with the arrow pointing down, the files should now start to download.</p>
<div><img src="img/dlServer/firefox_2016-08-05_23-12-23.png" class="img-fluid" alt="Responsive image"></div>
<br/>