<p>To download the Twitch app go to <a href="https://www.feed-the-beast.com/">feed-the-beast.com</a> and click download now</p>
<p>If you have downloaded the Twitch app from the Feed the Beast website please skip to <a href="#step4">step 4</a></p>
<h3>Step 1</h3>
<p>Click the <code>Mods</code> button at the top of the screen</p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-06-21.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 2</h3>
<p>Click <code>Minecraft</code></p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-06-24.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 3</h3>
<p>Click <code>Enable Minecraft</code> and on the popup click <code>Yes, Enable Minecraft</code></p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-06-27.png" class="img-fluid" alt="Responsive image"></div>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-06-31.png" class="img-fluid" alt="Responsive image"></div>
<br id="step4"/>
<h3>Step 4</h3>
<p>When Twitch has restarted click <code>Install</code></p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-06-39.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 5</h3>
<p>Click the <code>Browse FTB Modpacks</code> and browse for your desired pack</p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-09-06.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 6</h3>
<p>Click <code>Install</code> on the pack you want to download and wait for it to download</p>
<div><img src="img/twitchDl/TwitchUI_2017-08-11_11-09-22.png" class="img-fluid" alt="Responsive image"></div>
<p><small><a href="https://ftb.cursecdn.com/FTB2/launcher/FTB_Launcher.jar">FTB Launcher</a> For linux users or as a last resort for Windows/MacOS users</small></p>