<h2>FTB Launcher</h2>
<h3>Step 1</h3>
<p>Click on the pack you are having issues with then click the <code>Options</code> tab</p>
<div><img src="img/fUpdate/javaw_2016-10-26_19-00-43.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 2</h3>
<p>Click on <code>Force Update</code> then click the <code>Modpacks</code> tab and click <code>Launch</code></p>
<div><img src="img/fUpdate/javaw_2016-10-26_19-00-49.png" class="img-fluid" alt="Responsive image"></div>
<div><img src="img/fUpdate/javaw_2016-10-26_19-00-54.png" class="img-fluid" alt="Responsive image"></div>
<br/>