<p>If you are encountering a <code>Pixel format not accelerated</code> error and you are using <code>Intel HD (1st gen), and HD 2000/3000 (Sandy Bridge) graphics</code> on Windows 10, you will need to downgrade your Java to a version below Java 8 Update 60, we would reccomend that you use <a href="">Java 8 Update 51</a></p>
