<p>Open the launcher and click on the options tab</p>
<p>Check the boxes <code>Show Console</code> and <code>Reopen launcher when Minecraft exits</code> if not turn on by
    default</p>
<p>Close launcher and re-open the launcher</p>
<p>Select the pack you are having issues with and press the launch button</p>
<p>Wait until crash/error/other problem occurs</p>
<p>Locate Feed The Beast Launcher Console window</p>
<p>Press <code>Upload button</code></p>
<div><img src="img/legacylogs/javaw_2016-09-08_13-58-12.png" class="img-fluid" alt="Responsive image"></div>
<p>Confirm log upload</p>
<div><img src="img/legacylogs/javaw_2016-09-08_14-01-05.png" class="img-fluid" alt="Responsive image"></div>
<p>Copy the link from your browser and give us the link</p>
<small>
    <a href="http://jikuja.github.io/FTBLaunch/Problem_solving.html?page=Log_from_dummies">Original source</a>
</small>