<ol>
    <li><p>Open launcher</p></li>
    <li><p>Click options tab</p></li>
    <li><p>Check the boxes <code>Show Console</code> and <code>Reopen launcher when Minecraft exits</code> if not turn on by default</p></li>
    <li><p>Close launcher</p></li>
    <li><p>Open launcher</p></li>
    <li><p>Select pack</p></li>
    <li><p>Press launch button</p></li>
    <li><p>Wait untill crash/error/other problem occurs</p></li>
    <li><p>Locate Feed The Beast Launcher Console window</p></li>
    <li><p>Press <code>Upload button</code></p><img src="img/legacylogs/javaw_2016-09-08_13-58-12.png" class="img-fluid" alt="Responsive image"></li>
    <li><p>Confirm log upload</p></li>
    <img src="img/legacylogs/javaw_2016-09-08_14-01-05.png" class="img-fluid" alt="Responsive image">
    <li><p>Copy the link from your browser</p></li>
    <li><p>Give us the link</p></li>
</ol>
<small><a href="http://jikuja.github.io/FTBLaunch/Problem_solving.html?page=Log_from_dummies">Original source</a></small>