<ol>
    <li>Open launcher</li>
    <li>Click options tab</li>
    <li>Check the boxes <code>Show Console</code> and <code>Reopen launcher when Minecraft exits</code> if not turn on by default</li>
    <li>Close launcher</li>
    <li>Open launcher</li>
    <li>Select pack</li>
    <li>Press launch button</li>
    <li>Wait untill crash/error/other problem occurs</li>
    <li>Locate Feed The Beast Launcher Console window</li>
    <li>Press <code>Upload button</code> Example:<img src="img/legacyLogs/javaw_2016-09-08_13-58-12.png" class="img-fluid" alt="Responsive image"></li>
    <li>Confirm log upload</li>
    <img src="img/legacyLogs/javaw_2016-09-08_14-01-05.png" class="img-fluid" alt="Responsive image">
    <li>Copy <em>link</em> from browser into clipboard</li>
    <li>Give us the <em>link</em></li>
</ol>
<small><a href="http://jikuja.github.io/FTBLaunch/Problem_solving.html?page=Log_from_dummies">Original source</a></small>