<h2>Accessing Minecraft settings in curse</h2>
<p>Click on your name in the top right and select <code>Settings</code></p>
<div><img src="img/twitchSettings/TwitchUI_2017-08-11_12-34-45.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<p>Then click on <code>Minecraft</code> in the list on the left</p>
<div><img src="img/twitchSettings/CurseUI_2016-11-11_15-15-47.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h2>Changing Allocated Memory</h2>
<p>Scroll down the settings window until you come across a slider under the title <code>Java Settings</code></p>
<p>To change the memory allocated slide the slider left or right depending on how much memory you want to assign. We reccomend between 4096MB & 6144MB</p>
<div><img src="img/twitchSettings/CurseUI_2016-11-11_15-08-22-memory.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h2>Adding Additional Java Arguments</h2>
<p>Scroll down to the bottom of the settings window until you come across the title <code>Advanced</code></p>
<p>Here you can add additional java arguments</p>
<div><img src="img/twitchSettings/CurseUI_2016-11-11_15-08-22-javaArgs.png" class="img-fluid" alt="Responsive image"></div>
<br/>