<h3>Server setup guide (Windows)</h3>
<p>FTB server setup guide (windows)</p>
<p>First download the server files for the modpack you wish to create a server for. See this documentation for details on how to download the server files</p>
<p>Extract the zip file to the desired location</p>
<p>Run FTBInstall.bat by double clicking it and wait for it to finish running</p>
<p>Make sure that eula=true is set in eula.txt</p>
<p>Finally run ServerStart.bat by double clicking it.</p>
<p>If you encounter a crash or an error please provide a console log of the error</p>

<h3>Server setup guide (Linux)</h3>
<p>First download the server files for the modpack you wish to create a server for. See this documentation for details on how to download the server files</p>
<p>Extract the zip file to the desired location</p>
<p>Run FTBInstall.sh by typing <code>sh FTBInstall.sh</code> and wait for it to finish running</p>
<p>Make sure that eula=true is set in eula.txt</p>
<p>Finally run ServerStart.sh by typing <code>sh ServerStart.sh</code>.</p>
<p>If you encounter a crash or an error please provide a console log of the error</p>