<h3>Step 1</h3>
<p>Click the <code>Mods</code> button</p>
<div><img src="img/tLog/TwitchUI_2017-08-10_18-57-17.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 2</h3>
<p>Click <code>Minecraft</code></p>
<div><img src="img/tLog/TwitchUI_2017-08-10_18-57-20.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 3</h3>
<p>Right Click your installed pack profile and click <code>Open Folder</code></p>
<div><img src="img/tLog/TwitchUI_2017-08-10_19-03-42.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 3</h3>
<p>Open the folder <code>logs</code></p>
<p>Right Click <code>fml-client-latest.log</code> then Click <code>edit</code> or <code>Open With Notepad</code></p>
<div><img src="img/tLog/CurseUI_2016-09-10_11-25-27.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 4</h3>
<p>Press <code>Right Click</code> then click <code>Select All</code> (or <code>Ctrl + A</code>) and click <code>Copy</code></p>
<div><img src="img/tLog/notepad_2016-09-10_11-25-48.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<div><img src="img/tLog/notepad_2016-09-10_11-26-05.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 5</h3>
<p>Then go to <a href="http://paste.feed-the-beast.com">http://paste.feed-the-beast.com</a> and paste it (Right click <code>Paste or  CTRL + V</code> in the text area)</p>
<div><img src="img/tLog/chrome_2016-09-10_11-26-40.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 6</h3>
<p>Click <code>Create!</code> then share the link with us. (The URL that it takes you to)</p>
<div><img src="img/tLog/chrome_2016-09-10_11-27-13.png" class="img-fluid" alt="Responsive image"></div>