<h3>Step 1</h3>
<p>Click on the modpack you are having issues with</p>
<div><img src="img/fUpdate/TwitchUI_2017-08-11_12-37-52.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 2</h3>
<p>Click <code>...</code> in the top right of the screen</p>
<div><img src="img/fUpdate/TwitchUI_2017-08-11_12-38-06.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 3</h3>
<p>Click <code>Repair Minecraft</code> and wait for it to finish and try loading the pack again</p>
<div><img src="img/fUpdate/TwitchUI_2017-08-11_12-38-10.png" class="img-fluid" alt="Responsive image"></div>
<!--<br/>-->
<!--<p>If the issue still presists please follow <a href="http://support.feed-the-beast.com/faq/#curseBug">this</a> guide to report the issue to twitch</p>-->