<p>Original source: <a href="https://help.twitch.tv/customer/en/portal/articles/2739990-submitting-a-bug-report">Twitch Bug Report Guide</a></p>
<p>If you are unable to start the Twitch at all you can report the issue <a href="https://support.curse.com/hc/en-us/articles/209735873">here</a></p>
<p>If you are having issues with using the Twitch app you can follow these steps to report the issues.</p>
<h3>Step 1</h3>
<p>Click the on the <code><span class="oi oi-menu"></span></code> icon</p>
<div><img src="img/twitchBug/TwitchUI_2017-08-11_12-13-32.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 2</h3>
<p>Hover over <code>Help</code> then click <code>Report a Bug</code></p>
<div><img src="img/twitchBug/TwitchUI_2017-08-11_12-13-41.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 3</h3>
<p>Click the dropdown box and select the correct type of bug you are reporting. E.G If you are reporting an issue related to minecraft click Minecraft in the dropdown box</p>
<div><img src="img/twitchBug/TwitchUI_2017-08-11_12-14-00.png" class="img-fluid" alt="Responsive image"></div>
<br/>
<h3>Step 4</h3>
<p>Click the text box and provide a detailed description of the issue your having and if possible how they can replicate the issue, then click <code>Submit</code></p>
<div><img src="img/twitchBug/TwitchUI_2017-08-11_12-14-35.png" class="img-fluid" alt="Responsive image"></div>
<h3>Step 4</h3>
<p>Click the <code>I'm Done</code> button</p>
<div><img src="img/twitchBug/TwitchUI_2017-08-11_12-15-48.png" class="img-fluid" alt="Responsive image"></div>
