<p>If you have downloaded a modpack directly off of the Curse website, follow this guide to import it into the Twitch app</p>
<br/>
<p>In the Minecraft section click <code>Create Custom Profile</code></p>
<img src="img/twitchImport/TwitchUI_2017-08-11_12-29-24.png" class="img-fluid" alt="Responsive image">
<br/>
<p>Click <code>Import</code> on the dialog that opens</p>
<img src="img/twitchImport/TwitchUI_2017-08-11_12-29-28.png" class="img-fluid" alt="Responsive image">
<br/>
<p>Click on the file that you downloaded and press <code>Open</code></p>
<img src="img/twitchImport/CurseUI_2016-09-04_17-48-12.png" class="img-fluid" alt="Responsive image">
<br/>
<p>The pack should now start to import</p>
