{{#> layouts/base}}
    {{#*inline "content-block"}}
        <h1 class="text-center"><span class="ion-alert-circled orange-text text-darken-3"></span> {{error.status}} {{message}}</h1>
        <h2 class="text-center">The page you are looking for cannot be found</h2>
        {{#if debug}}
            <pre>{{error.stack}}</pre>
        {{/if}}
    {{/inline}}
{{/ layouts/base}}