<div class="info-panel-top">
    <div class="container">
        <h1>FTB Knowledge Base</h1>{{#if topicInfo.description}}<h6>{{topicInfo.description}}</h6>{{/if}}
        <ol class="breadcrumb transparent">
            <li class="breadcrumb-item"><a href="https://support.feed-the-beast.com/faq/">Home</a></li>{{#if topicInfo.title}}<li class="breadcrumb-item">{{topicInfo.title}}</li>{{/if}}
        </ol>
    </div>
</div>