<nav class="navbar navbar-expand-md navbar-dark light-blue darken-4 fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{siteInfo.siteName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://feed-the-beast.com/">FTB Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://forum.feed-the-beast.com/">FTB Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/serverDL">Server Downloads</a>
                </li>
            </ul>
        </div>
    </div>
</nav>